{% extends 'pokemon/home.html' %}

{% block results %}
<p class="lead">Resultados de la búsqueda</p>

{% if not pokemon_list %}
<div class="card w-25 mb-3">
    <div class="card-body">
        <p class="card-title">No encontramos tu pokemon :(</p>
    </div>
</div>
{% endif %}

{% for pokemon in pokemon_list %}

<div class="card w-25 mb-3">
    <div class="card-body">
        <a href="{% url 'pokemon_detail' pokemon.name %}">
            <h5 class="card-title">{{ pokemon.name|title }}</h5>
        </a>
    </div>
</div>

{% endfor %}

{% endblock results %}